body{
  margin:0;
  background:black;
  color:white;
  font-family:Arial;
}

.layout{
  display:flex;
}

.sidebar{
  width:220px;
  height:100vh;
  background:#050505;
  border-right:1px solid red;
  padding:20px;
}

.sidebar h2{
  color:red;
}

.sidebar p{
  margin-top:20px;
  color:#bbb;
}

.main{
  flex:1;
  padding:30px 60px;
}

h1{
  font-size:48px;
}

h1 span{
  color:red;
}

.card{
  background:#0c0c0c;
  padding:25px;
  border-radius:16px;
  margin-top:25px;
  border:1px solid #222;
  width:650px;
  box-shadow:0 0 60px rgba(255,0,0,0.25);
}

.card input{
  width:100%;
  margin-top:10px;
  padding:10px;
  background:black;
  border:1px solid #333;
  color:white;
}

textarea{
  width:100%;
  height:130px;
  background:black;
  border:1px solid red;
  color:white;
  padding:10px;
}

button{
  margin-top:15px;
  background:red;
  border:none;
  padding:12px;
  color:white;
  cursor:pointer;
  border-radius:8px;
}

.msg{
  margin-top:10px;
  color:#0f0;
}

pre{
  margin-top:15px;
  background:#111;
  padding:10px;
}

.stats{
  display:flex;
  gap:20px;
  margin-top:40px;
}

.stat{
  background:#0c0c0c;
  padding:30px;
  border-radius:20px;
  border:1px solid red;
  width:200px;
  text-align:center;
  box-shadow:0 0 50px rgba(255,0,0,0.4);
}

.stat p{
  font-size:28px;
  color:red;
}